<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline:</div>
  <div><%= flight.airline %></div>
  <div>Aiport:</div>
  <div><%= flight.airport %></div>
  <div>Flight No:</div>
  <div><%= flight.flightNo %></div>
  <div>Departs:</div>
  <div><%= flight.departs %></div>
  <div>Destinations:</div>
  <table>
    <tr>
      <th>Airport</th>
      <th>Arrival</th>
    </tr>
    <% for (let i = 0; i < flight.arrival.length; i++) { %>
    <tr>
      <td><%= flight.arrival[i].airport %></td>
      <td><%= flight.arrival[i].arrival %></td>
    </tr>
    <% } %>
  </table>

  <a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>
  <a href="/flights">Back</a>
</section>

<br /><br />
<h2>Add Destinations</h2>
<form
  id="add-destination-form"
  method="POST"
  action="/flights/<%= flight._id %>/destinations"
>
  <label>Destination:</label>
  <select name="airport">
    <% for (let i = 0; i < airportCodes.length; i++) { %>
    <option value="<%= airportCodes[i] %>">
      <%= airportCodes[i] %>
    </option>
    <% } %>
  </select>
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival" value="<%= defaultDate %>" />
  <input type="submit" value="Add Destination" />
</form>
<%- include('../partials/footer') %>

